.layout {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
}

.rust-nim-game-title {
  font-family: "Bungee", cursive;
  font-size: clamp(52px, 5vw, 96px);
  font-weight: bold;
  color: #f05a22;
  text-align: center;
  text-shadow: 2px 2px #000;
}

.crabs-flex {
  width: 100%;
  margin-left: 2.5rem;
  margin-right: 2.5rem;
}

.removed-crab {
  animation: crab-removal-sliding 1s ease-in-out;
  cursor: initial !important;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
}

.crab {
  display: inline;
  margin-right: 0.75rem;
  cursor: pointer;
  min-width: 40px;
  min-height: 40px;
}

.crabs-control {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1.25rem;
}

.removed-crab {
  animation: crab-removal-sliding 1s ease-in-out;
  cursor: none;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
}

@keyframes crab-removal-sliding {
  0% {
    opacity: 1;
    transform: translateX(0);
  }
  100% {
    opacity: 0;
    transform: translateX(-100%);
  }
}

@media only screen and (max-width: 1200px) {
  .crab {
    width: 60px;
    height: 60px;
  }
}

@media only screen and (max-width: 900px) {
  .crab {
    width: 53px;
    height: 53px;
  }
}
