.layout {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
}

.rust-nim-game-title {
  font-family: "Bungee", cursive;
  font-size: clamp(44px, 5vw, 96px);
  font-weight: bold;
  color: #f05a22;
  text-align: center;
  text-shadow: 2px 2px #000;
}

.crabs-flex {
  width: 100% !important;
  margin-left: auto;
  margin-right: auto;
}

.removed-crab {
  animation: crab-removal-sliding 1s ease-in-out;
  cursor: none;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
}

.crab {
  display: inline;
  margin-right: 0.75rem;
  cursor: pointer;
  min-width: 40px;
  min-height: 40px;
  width: 3.90625vmax;
  height: 3.90625vmax;
}

.crabs-control {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1.25rem;
}

.crabs-control input {
  font-size: clamp(12px, 1.4vw, 18px);
}

.crabs-control button {
  font-size: clamp(12px, 1.4vw, 18px);
}

@keyframes crab-removal-sliding {
  0% {
    opacity: 1;
    transform: translateX(0);
  }
  100% {
    opacity: 0;
    transform: translateX(-100%);
  }
}
